/*
  _   _      _ _    __  __           _               _ ____   ___  
 | | | | ___| | |  |  \/  | __ _ ___| |_ ___ _ __   / |___ \ / _ \ 
 | |_| |/ _ \ | |  | |\/| |/ _` / __| __/ _ \ '__|  | | __) | | | |
 |  _  |  __/ | |  | |  | | (_| \__ \ ||  __/ |     | |/ __/| |_| |
 |_| |_|\___|_|_|  |_|  |_|\__,_|___/\__\___|_|     |_|_____|\___/ 
*/         


#P{
	color:rgb(247,247,0);
	background-color:rgb(0,0,0);
	font:bold 16px serif;
	line-height:1.6em;	 
	border:10px rgb(227,0,0) double ;
	

}
.H1 {	
	color:rgb(0,0,0);
	text-align:center;
	
}

/* . = class
   # = id 
 */
#CopyRight {
	line-height:300px;
	margin-left:60px;
	width:60%;
	color:rgb(135,135,135);
	font-weight:bold;
	font-size:20px;
	display:inline;
	background-color:rgb(0,0,0);
	border:5px rgb(217,0,0) double;
	border-radius:20px;
	padding:10px;
}









/*	
  _____   _____  ___   ____                    
 | ____| |__  / |_ _| / ___|                   
 |  _|     / /   | | | |                       
 | |___ _ / /_ _ | | | |___                    
 |_____(_)____(_)___(_)____|     
  _   _      _ _ __  __           _             
 | | | | ___| | |  \/  | __ _ ___| |_ ___ _ __ 
 | |_| |/ _ \ | | |\/| |/ _` / __| __/ _ \ '__|
 |  _  |  __/ | | |  | | (_| \__ \ ||  __/ |   
 |_| |_|\___|_|_|_|  |_|\__,_|___/\__\___|_|   
 */

