.appMount-3lHmkl::before {
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    background-image: url("https://i.imgur.com/j1Z6HVc.jpg");
    background-size: cover;
   
    background-position: center;

  }
  .layer-3QrUeG, 
  .layers-3iHuyZ,
  .container-2lgZY8,
  .standardSidebarView-3F1I7i .contentRegion-3nDuYy,
  .channels-Ie2l6A, 
  .container-PNkimc,
  .members-1998pB,
  .chat-3bRxxu, 
  .chat-3bRxxu form, 
  .content-yTz4x3,
  .messagesWrapper-3lZDfY,
  .noChannel-Z1DQK7,
  .private-channel-call,
  .video-1FfuMD,
  #friends,
  .appMount-3lHmkl,
  .standardSidebarView-3F1I7i,
  .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN,
  .inner-zqa7da,
  .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebar-CFHs9e,
  .userSettingsVoice-iwdUCU .media-engine-video,
  .activityFeed-28jde9,
  .guildsWrapper-5TJh6A,
  .search .searchBarIcon-1J6sKG,
  .footer-2yfCgX,
  .container-1UB9sr,
  .title-3qD0b-,
  .header-2o-2hj,
  .headerBar-UHpsPw,
  .guildsWrapper-5TJh6A .guilds-1q_RqH>.guild-1EfMGQ:first-child .guildInner-3DSoA4,
  .container-2Thooq,
  .privateChannels-1nO12o .search-bar,
  .wrapper-2NJDcI,
  .wrapper-29NfPK,
  .incomingCall-14zLc,
  .gameLibrary-TTDw4Y,
  .paginator-166-09,
  .payment-xT17Mq,
  .sidebar-1-SQro,
  .reactors-Blmlhw,
  .applicationStore-1pNvnv,
  #permissions-modal-wrapper .role-side,
  .itemBackground-1jfD8p,
  .gamePreview-9weYR2 .sideBar-2_lxpG,
  .gamePreview-9weYR2 .body-1SVoBw,
  .news-2KwXHF,
  .root-1BQpZw,
  .root-26DmKJ,
  .container-3gCOGc,
  .appMount-3lHmkl .pageWrapper-1PgVDX,
  .wrapper-1Rf91z,
  .emptyPlayers-dx3qig, 
  .players-1zg2l8,
  .users-i_3-kL,
  #app-mount .container-1r6BKw,
  #app-mount .wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN>.listItem-2P_4kh:first-child,
  #app-mount .users-i_3-kL,
  #app-mount .footer-1FPmkC,
  #app-mount .footer-30ewN8,
  .searchBar-1MOL6S, 
  #app-mount .container-2XeR5Z,
  #app-mount .footer-3rDWdC {
  background: transparent !important;
  }
  