canvas {
  background:black;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
}





#Back{
  
  opacity:255;
  
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

position: absolute;
background-color:rgb(20,20,20,.5);
top: 8%;
right: 90%;
width:9%;
height:8%;
max-width: 90%;
-webkit-transform: translate(50%, -50%);
border:5px;
border-style:solid;
border-color:rgb(75,75,75);
border-radius:20px;
color:rgb(255,255,255);

animation:Buttons;
  animation-duration:5s;
  animation-delay:0s;
  animation-fill-mode:forwards;

  transform:background-color;
  transition-duration:.8s;
  

}

#buttonThing{

position: absolute;
top: 80%;
right: 50%;
width:98%;
height:20%;
max-width: 100%;
-webkit-transform: translate(50%, -50%);



}

#box1{

position: absolute;
background-color:rgb(100,0,0,.7);
top: 25%;
right: 85%;
width:20%;
height:10%;
max-width: 90%;
-webkit-transform: translate(50%, -50%);



}
