body{
margin: 0;
overflow:hidden;
background:rgb(0,0,0);
}
#TOP-Box{
    position: absolute;
    margin: 0;
    overflow: hidden;
    border: 4px rgb(0, 0, 0) solid;
    border-radius: 23px;
    background: rgba(83, 83, 83, 0.17);
    width: 90%;
    height: 17%;
    top: -12%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%,-50%);
    box-shadow: rgba(0, 0, 0, 0.48) 11px 13px 6px 0px;
    transform:left;
    transition-duration:5s;
    animation:Top-BoxAin;
    animation-duration:5s;
    animation-delay:1s;
    animation-fill-mode:forwards;

}
#TOP-Box #Title{
    font-family: 'Parisienne', cursive;
    overflow: visible;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 50%;
    right: auto;
    bottom: auto;
    display: block;
    text-align: center;
    /* text-align: center; */
    font-size: 52px;
    text-overflow: ellipsis;
    color: rgba(136, 136, 136, 0.56);
    white-space: nowrap;
}

#TOP-Button-Box{
    overflow: hidden;
    position: absolute;
    transform: translate(-50%,-50%);
    outline: none;
    top: 25.3%;
    bottom: auto;
    left: -18%;
    width: 19%;
    height: 8%;
    right: auto;
    border: 4px rgb(0, 0, 0) solid;
    border-radius: 23px;
    background: rgba(60, 58, 58, 0.27);
    box-shadow: rgba(0, 0, 0, 0.48) 11px 13px 6px 0px;
    transform: top ;
    transition-duration:5s;
    animation:Top-Button-BoxAin;
    animation-duration:5s;
    animation-delay:2s;
    animation-fill-mode:forwards;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@keyframes Top-BoxAin{

    100%{top:12%;}
}
@keyframes Top-Button-BoxAin{

    100%{left:18%;}
}