canvas {
  background:black;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
 
}

#Thing{
  opacity:100;
  transform:right,opacity;
  transition-duration:.8s;
}

#password{
  position: absolute;
  top: 50%;
  right: 50%;

  max-width: 1090%;
  -webkit-transform: translate(50%, -50%);
}

#button{
  position: absolute;
  top: 53%;
  right: 50%;
  width:10.4%;
  height:3%;
  max-width: 90%;
  -webkit-transform: translate(50%, -50%);


}