canvas {
  background:black;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
}
#Block2{
  position: absolute;
  background-color:rgb(40,40,40,.8);
  top: 50%;
  right: 50%;
  width:50%;
  height:50%;
  max-width: 90%;
  -webkit-transform: translate(50%, -50%);
  border-style:solid;
  border-radius:50px;
  border-color:rgb(100,100,100);
}

#Block{
  opacity:0;
  animation:BoxAnim;
  animation-duration:6s;
  animation-delay:0s;
  animation-fill-mode:forwards;
  opacity:0;
  position: absolute;
  width: 99%;
  height: 99%;
  background:rgb(75,75,75,0.4);
  border:4px;
  border-style:solid;
  border-radius:100px;
  border-color:rgb(100,100,100);
}
#Text{
text-align:center;
color:rgb(255,255,255);

}
#button1{
  transform:background-color,color;
  transition-duration:.9s;
  font-size:40px;
  position: absolute;
  top: 80%;
  right:80%;
  width:20%;
  height:30%;
  max-width: 90%;
  -webkit-transform: translate(50%, -50%);
  border:4px;
  border-style:solid;
  border-radius:50px;
  border-color:rgb(100,100,100);
  background-color:rgb(60,60,60);
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  cursor:pointer;
  -ms-user-select: none;
}
#button2{
  transform:background-color,color;
  transition-duration:.9s;
  font-size:40px;
  position: absolute;
  top: 80%;
  right:20%;
  width:20%;
  height:30%;
  max-width: 90%;
  -webkit-transform: translate(50%, -50%);
  border:4px;
  border-style:solid;
  border-radius:50px;
  border-color:rgb(100,100,100);
  background-color:rgb(60,60,60);
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  cursor:pointer;
  -ms-user-select: none;
}
#Img{
  position: absolute;
  top: 45%;
  right:50%;
  max-width: 90%;
  -webkit-transform: translate(50%, -50%);
  background-color:rgb(255,0,0);
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#A{
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;}


#button1:hover{
background-color:rgb(20,20,20,.7);
color:rgb(100,100,100);
}

#button2:hover{
background-color:rgb(20,20,20,.7);
color:rgb(100,100,100);

}


@keyframes BoxAnim{
100%{opacity:100;}


  }